{
    "env": {
        "node": true
    },
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "root": true,
    "rules": {
        "no-console":"off",
        "prettier/prettier": "error",
        "no-param-reassign": [ "error", { "props": false } ],
        "no-plusplus":  "off",
        "no-extend-native":  [ "error", { "exceptions": ["Array"] }]
    }
}